<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <!-- Bootstrap Icons! Yo -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Our CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- My favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='toolbox-4.ico') }}">
    <title>
      {% block title %}
		  {% endblock %}
    </title>
  </head>
  <body>
    <div class="'container">
  	  {% include 'base-navbar.html' %}
    </div>
  	<br/>
    {% if myenv != '' %}
      <div class="text-danger text-center fs-4">&iexcl; {{myenv}} !</div>
      <br/>
    {%endif%}
  	<div class="container">
		  {% block content %}
		  {% endblock %}
  	</div>
    {% include 'base-footer.html' %}
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>

