{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
	<h1>
		<i class="bi bi-file-arrow-up"></i>
		Upload Picture

	</h1>
	<br/>
	<form method="POST" enctype="multipart/form-data">

		{{ form.hidden_tag() }}

		{{ form.desc.label(class="form-label") }}
		{{ form.desc(class="form-control", autofocus=true) }}
		<br/>
 
		{{ form.picture.label(class="form-label") }}
		{{ form.picture(class="form-control") }}
		<br/>
		 
		<br/>
		<table class="table">
			<tr>
				<td class="text-start">
					{{ form.submit(class="btn btn-success") }}
				</td>
				<td class="text-end">
					<a href="{{ url_for('mainstuff.main')}}">
						<button type="button" class="btn btn-secondary" title="Cancel">Cancel</button>
					</a>
				</td>
			</tr>
		</table>
	</form>

</div>

{% endblock %}