{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
	<h1>
		<i class="bi bi-person-gear"></i>
		Edit Profile
	</h1>
	<br/>

	<form method="POST" action="{{url_for('mainstuff.setup')}}">
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}
		{{ form.name(class="form-control", autofocus=true) }}
		<br/>


		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control") }}
		<br/>
		
		{{ form.password_hash.label(class="form-label") }}
		{{ form.password_hash(class="form-control") }}
		<br/>


		{{ form.password_hash2.label(class="form-label") }}
		{{ form.password_hash2(class="form-control") }}
		<br/>
		
		{{ form.sitename.label(class="form-label") }}
		{{ form.sitename(class="form-control") }}
		<br/>


		{{ form.signup.label(class="form-label") }}
		{{ form.signup(class="form-control") }}
		<br/>
		
		<table class="table">
			<tr>
				<td class="text-start">
					{{ form.submit(class="btn btn-success", title="Submit") }}
				</td>
				
			</tr>
		</table>
	</form>

	
</div>
<br/>


{% endblock %}