{% extends 'base.html' %}

{% block title %}
	{{ sitename }}
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
	<h1>
		{% if editid == 'n' %}
			Sign Up!
		{% else %}
			Edit Profile
		{% endif %}
	</h1>
	<br/>

	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}
		{{ form.name(class="form-control", autofocus=true) }}
		<br/>

		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control") }}
		<br/>
		
		{% if editid == 'n' %}
		{{ form.password_hash.label(class="form-label") }}
		{{ form.password_hash(class="form-control") }}
		<br/>

		{{ form.password_hash2.label(class="form-label") }}
		{{ form.password_hash2(class="form-control") }}
		<br/>
		{% endif %}

		{{ form.submit(class="btn btn-success") }}
		{% if editid != 'n' %}
		<a href="{{url_for('userspages.userprofile')}}">
			<button type="button" class="btn btn-secondary" title="Cancel">Cancel</button>
		</a>
		{% endif %}

	</form>

	<br/>
	{% if editid == 'n' %}
	<div class="">
		Don't use your bank password, the security is not that strong!!
	</div>
	{% endif %}

</div>
<br/>

{% endblock %}